.linehomepage {
  width: 38.09%;
  height: 1px;

  background: #000;
}

#text_ {
  display: flex;
  width: 154.996px;
  height: 39.423px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 66.667% */
  letter-spacing: 0.5px;
}

#voucher_text {
  display: flex;
  width: 216px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 66.667% */
  letter-spacing: 0.5px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
}

#flashsale-icon {
  width: 319.577px;
  height: 99px;
  flex-shrink: 0;
}

#voucher-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96.6%;
  height: 240px;

  margin: 0 auto 44px auto;
  border-radius: 8px;
  background: #b8e997;
}

.coupon {
  width: 139.83px;
  height: 63.636px;
  border-radius: 8px;
  opacity: 0.7;
  background-color: rgba(68, 216, 19, 0.7);
}

.voucher-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 550px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
}

.half-circle {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 36px;
  background: #d9d9d9;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.txt_coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 5px;

  color: #818181;
  text-align: center;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 8px;
  letter-spacing: 0.5px;
}

.voucher-title {
  display: flex;
  width: 99.746px;
  height: 20px;
  flex-direction: column;
  justify-content: center;

  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;

  margin: 0px;
}

.voucher-image {
  margin-right: 15px;
}

.voucher-description {
  display: flex;
  /* width: 227.458px; */
  height: 20px;
  flex-direction: column;
  justify-content: center;

  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;

  margin: 0px;
}

.voucher-exp {
  display: flex;
  width: 153.813px;
  height: 20px;
  flex-direction: column;
  justify-content: center;

  color: #818181;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;

  margin: 0px;
  margin-top: 10px;
}

#save-voucher {
  width: 85.763px;
  height: 32.432px;

  border-radius: 20px;
  background: #afec87;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;

  margin-left: 20px;
}

#flashsale-container {
  width: 97.22%;
  height: 310px;
  border-radius: 8px;
  background: #b8e997;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  gap: 6.94%;
}

.flashsale-itemp {
  width: 196.154px;
  height: 234px;
  border-radius: 8px;
  background: #fff;
}

.flashsale-img-itemp {
  border-radius: 8px 8px 0px 0px;
}

.flashsale-title {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.flashsale-cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashsale-icon {
  width: 18px;
  height: 18px;
}

.NewCost {
  display: flex;
  width: 83px;
  height: 27px;
  flex-direction: column;
  justify-content: center;

  color: #ff6b00;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;

  margin: 5px;
}

.OldCost {
  display: flex;
  width: 61px;
  height: 27px;
  flex-direction: column;
  justify-content: center;

  color: #818181;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.5px;
  text-decoration-line: line-through;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

#Phanloai {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 97.22%;
  height: 177.674px;
  border-radius: 8px;
  background: #b8e997;
  margin-top: 10px;
  gap: 6.94%;
}

.Phanloai-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.Phanloai-label {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;

  margin-top: 10px;
}

#banner-container {
  width: 96.6%;
  height: 218px;
}
