.duongdan {
  width: 1160px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #F1F1F1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.duongdan a {
  width: auto;
  height: 22px;
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.36px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-right: 10px;
}

.duongdan-ky-tu {
  margin: 0 5px;
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  gap: 8px;
}

.duongdan a:last-child {
  margin-right: 0;
}