.alert-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  background: #fffbea;

  display: flex;
  flex-direction: column; /* Dàn dọc */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Cho đẹp bố cục */
  gap: 10px; /* Khoảng cách giữa icon và chữ */
}

.icon-wrapper {
  position: relative;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 65px;
  height: 65px;
}

#circle {
  width: 65px;
  height: 65px;
}

#icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 39px;
  height: 39px;
  transform: translate(-50%, -50%);
}

#alert_icon_x {
position: absolute;
top: 3%;
right: 3%;
width: 24px;
height: 24px;
}


.alert-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-title {
position: absolute;
top: 30%;
left: 3%;
align-self: stretch;
color: var(--Gray-900, #181D27);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
}

.text_box {
position: absolute;
top: 50%;
left: 3%;
width: 200px;
height: 26px;
border: 0.5px solid #000;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.alert_button_huy {
position: absolute;
top: 70%;
left: 3%;
width: 160px;
height: 20px;
text-align: center;

display: flex;
padding: 10px 18px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--Gray-300, #D5D7DA);
background: var(--Base-White, #FFF);

/* Shadow/xs */
box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}



.alert_button_xac_nhan {
position: absolute;
top: 70%;
left: 50%;

width: 160px;
height: 20px;
text-align: center;

display: flex;
padding: 10px 18px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid #58B536;
background: #58B536;

/* Shadow/xs */
box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}